.activity, .activity .activity-content {
    width: 100%;
}
.activity {
    padding: 10px 20px;
}
.error {
    width: 100%;
    padding: 15px;
}
.error {
    display: flex;
    justify-content: center;
}
.error-retry {
    width: max-content;
    color: #fff;
    padding: 8px 20px;
    background-color: rgb(40, 145, 250);
    border-radius: 12px;
    padding-top: 5px;
}
.loading {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.18);
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-absolute {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: #fff;
    border: 3px solid #a5a4a4;
    border-top: 3px solid transparent;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.no-activity {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.no-activity img {
    width: 150px;
    height: 120px;
}
.no-activity span {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
}
.activity-lists {
    width: 100%;
    list-style: none;
    margin: 10px 0px;
    padding: 0;
}
.activity-li- {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.activity-li- > div {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.activity-li- > div:first-child {
    margin-left: 0px;
}
.acl-icon {
    width: 30px;
    height: 27px;
    color: #a5a4a4;
}
.acl-txt {
    flex: 3;
}
.acl-action {
    font-size: 15px;
    font-weight: 500;
}
.acl-sml {
    font-size: 13px;
    font-weight: 400;
    margin-top: 3px;
    color: #a5a4a4;
}
.acl-amt {
    font-size: 18px;
    font-weight: 500;
}
